{% extends "base.html" %}

{% block lab %}Лабораторная работа 4. Авторизация{% endblock %}

{% block content %}
    <h1>Авторизация</h1>
    {% if authorized %}
        <p>Привет, {{ login }}!</p>
    {% else %}
        <form method="post" action="/lab4/login">
            <label>
                Имя пользователя: <input type="text" name="login" required>
            </label><br>
            <label>
                Пароль: <input type="password" name="password" required>
            </label><br>
            <button type="submit">Войти</button>
            <button type="reset">Отмена</button>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    {% endif %}
{% endblock %}