
body {
    margin: 0;
    font-family: Trebuchet MS, sans-serif;
    background-color: #d6f9e8;
    color: #1d483b;
    margin-top: 50px;
    justify-content: center;  
    align-items: center;  
    text-align: center; /
}

img {
    margin: 30px;
    width: 50%
}