{% extends 'base.html' %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}

{% block styles %}
<style>
    body {
        background-image: url('{{ url_for('static', filename='snowflakes2.gif') }}');
    }

    header, footer {
        background-color: #00006c; 
        color: white;  
    }

    h1 {
        background-color: white;
    }
</style>
{% endblock %}
<form method="POST" class="form-center">
    <h1> Что вам больше нравится? </h1>
    <div class="option-block">
        <label><input type="radio" id="tasty" name="preference" value="tasty" required> Что-то вкусное</label><br>
        <label><input type="radio" id="festive" name="preference" value="festive" required> Что-то праздничное</label><br>
    </div>
    <button type="submit" class="submit-btn">Далее</button>
</form>
{% endblock %}
