{% extends "base.html" %}

{% block lab %}Лабораторная работа 3. Настройки отображения{% endblock %}

{% block content %}
    <h1>Настройки отображения</h1>
    <form action="/lab3/settings" method="post">
        <label>
            Цвет текста: <input type="color" name="color" value="{{ color }}">
        </label><br>
        <label>
            Цвет фона: <input type="color" name="background_color" value="{{ background_color }}">
        </label><br>
        <label>
            Размер шрифта: <input type="number" name="font_size" value="{{ font_size }}" min="10" max="48">
        </label><br>
        <label>
            Цвет ссылок: <input type="color" name="link_color" value="{{ link_color }}">
        </label><br>
        <button type="submit">ОК</button>
    </form>
{% endblock %}