{% extends "base.html" %}

{% block lab %}Лабораторная работа 3. Железнодорожный билет{% endblock %}

{% block content %}
    <h1>Ваш железнодорожный билет</h1>
    <p>ФИО пассажира: {{ fio }}</p>
    <p>Полка: {{ shelf }}</p>
    <p>С бельём: {% if linen %}Да{% else %}Нет{% endif %}</p>
    <p>С багажом: {% if baggage %}Да{% else %}Нет{% endif %}</p>
    <p>Возраст: {{ age }}</p>
    <p>Пункт выезда: {{ departure }}</p>
    <p>Пункт назначения: {{ destination }}</p>
    <p>Дата поездки: {{ date }}</p>
    <p>Нужна ли страховка: {% if insurance %}Да{% else %}Нет{% endif %}</p>
    <p>Тип билета: {% if age < 18 %}Детский{% else %}Взрослый{% endif %}</p>
    <p>Стоимость билета: {{ price }} руб.</p>
{% endblock %}