{% extends "base.html" %}

{% block lab %}Лабораторная работа 5. Список статей{% endblock %}

{% block content %}
    <h1>Список статей</h1>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ url_for('lab5.view_article', id=article.id) }}">{{ article.title }}</a>
                <form method="post" action="{{ url_for('lab5.like_article', id=article.id) }}" style="display:inline;">
                    <button type="submit">👍 {{ article.likes }}</button>
                </form>
                <form method="post" action="{{ url_for('lab5.dislike_article', id=article.id) }}" style="display:inline;">
                    <button type="submit">👎 {{ article.dislikes }}</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}