<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Руди Дмитрий. Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
        body {
            {% if request.cookies.get('color') %}color: {{ request.cookies.get('color') }};{% else %}color: black;{% endif %}
            {% if request.cookies.get('background_color') %}background-color: {{ request.cookies.get('background_color') }};{% else %}background-color: white;{% endif %}
            {% if request.cookies.get('font_size') %}font-size: {{ request.cookies.get('font_size') }}px;{% else %}font-size: 16px;{% endif %}
        }
        a {
            {% if request.cookies.get('link_color') %}color: {{ request.cookies.get('link_color') }};{% else %}color: blue;{% endif %}
        }
    </style>
</head>
<body>
    <header>
        НГТУ, ФБ, WEB-программирование, часть 2. {% block lab %}{% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; {% if name %}{{ name }}{% else %}Анонимус{% endif %}, 
        {% if group %}ФБИ-{{ group }},{% else %}Группа не указана,{% endif %} 
        {% if course %} {{ course }} курс,{% else %}Курс не указан,{% endif %} 2024 
    </footer>
</body>
</html>